/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-family: 'Quicksand', sans-serif;
}

body {
    line-height:1;
    font-family: 'Quicksand', sans-serif;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////*/

body {
    background-color: #83e083;
}

.eff{
    width: 100%;
    height: 100px;
    background-color: #fff;
}
.eff ul{

}
.eff ul li{
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 100px;
}
.eff ul li a{
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: #1e1e1e;
    padding: 0 25px;
}

.eff a:hover {
    background-color: #83e083;
  }
  
h1 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 45px;
    font-weight: normal;
    margin-top: 75px;
}

.upbottom{
    margin-bottom: 50px;
    bottom: 20px;
    right: 30px; 
    z-index: 99; 
    background-color: white;
    color: white; 
    cursor: pointer; 
    border-radius: 10px; 
    font-size: 18px;
}
/* LOGO */
.logo-image img{
    margin-top: 15px;
    margin-left: 10px;
    width: 76px;
    float: left;
    padding-right: 10px;
 }

 p {
    
    margin: 10px 10px 10px 10px;
    font-size: 30px;
    text-indent: 5%;
    text-align:center;
  }