/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-family: "Times New Roman", Times, serif;;
}

body {
    line-height:1;
    font-family: "Times New Roman", Times, serif;;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////*/

body {
    background-color: #83e083;
}

.eff{
    width: 100%;
    height: 100px;
    background-color: #fff;
}
.eff ul{

}
.eff ul li{
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 100px;
}
.eff ul li a{
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: #1e1e1e;
    padding: 0 25px;
}

.eff a:hover {
    background-color: #83e083;
  }
  
h1 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 45px;
    font-weight: normal;
    margin-top: 75px;
}

.upbottom{
    margin-bottom: 50px;
    bottom: 20px;
    right: 30px; 
    z-index: 99; 
    background-color: white;
    color: white; 
    cursor: pointer; 
    border-radius: 10px; 
    font-size: 18px;
}
/* LOGO */
.logo-image img{
    margin-top: 15px;
    margin-left: 10px;
    width: 76px;
    float: left;
    padding-right: 10px;
 }

/* Melissa Laiz */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.our-group {
    background: #fff;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 0px 25px;
    padding: 30px 0 40px;
    width: 30%
}

.our-group .profile {
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 0px;
    z-index: 1;
    position: relative;
}

.our-group .profile::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background: #83e083;
    position: absolute;
    bottom: 135%;
    right: 0%;
    left: 0;
    opacity: 0.2;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.our-group:hover .profile::before{
    height:100%;
}

.our-group .profile:after{
    content:"";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background: #83e083;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.our-group .profile img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}

.our-group:hover .profile img {
    box-shadow: 0 0 0 14px #fff;
    transform: scale (0.7);
}

.our-group .group-content {
    margin-bottom: 30px
}

.our-group .name {
    font-size: 22px;
    font-weight: 700;
    color:#000;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.our-group .links {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #83e083;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;

}

.our-group:hover .links{
    bottom: 0;
}

.our-group .links li {
    display: inline-block;
}

.our-group .links li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 17px;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.our-group .links li a:hover{
    color: #83e083;
    background: #fff;

}

@media (max-width: 720px) {
    .container{
        flex-direction: column;
    }
    .our-group{
        width: 80%;
        margin-top: 30px;
    }
}